<li data-user=<%= user.id %>>
  <%= link_to "#{user.name}", profile_path(user) %>
  <% if current_user.is_following?(user.id) %>
    <%= link_to "Unfollow", unfollow_profile_path(user.id), method: :post, remote: true,  class: "btn btn-primary pull-right" %>
  <% else %>
    <%= link_to "Follow", follow_profile_path(user.id), method: :post, remote: true, class: "btn btn-primary pull-right"  %>
  <% end %>
</li>
