<div class='container mt-5 w-50 py-5'>
  <p id="notice"><%= notice %></p>
  <h2></h2>
  <div class='container-users py-5'>
    <table class='user-table'>
      <thead class='table-users'>
        <div clas='title-users'>
        <tr>
          <th scope="col" class='text-black pb-2'>USERS</th>
        </tr>
        </div>
      </thead>

      <tbody>

        <div class='each-user'>
          <% @users.last(10).each do |user| %>
            <tr>
              <%= render "user", user: user %>
            </tr>
          <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>
<script src="follow.js.erb"></script>
