<div class='container mt-5'>
  <p id="notice"><%= notice %></p>

  <div class='container-users'>
    <table class='user-table'>
      <thead class='table-users'>
        <div clas='title-users'>
        <tr>
          <th scope="col">USERS</th>
        </tr>
        </div>
      </thead>

      <tbody>

        <div class='each-user'>
          <% @users.each do |user| %>
            <tr>
              <%= render "user", user: user %>
            </tr>
          <% end %>
        </div>


      </tbody>
    </table>
  </div>
</div>
