<div class='container mt-5'>
  <p id="notice"><%= notice %></p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= render "user", user: user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
