// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500&family=Oswald:wght@200;300;400&display=swap');
// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
.lesson-edit {
  font-size: 20px;
  margin: 5px;

}

.pen-square {
  color: white;
}

.lesson-title {
  font-family: 'Fredericka the Great' !important;
}

.scheduled {
  color: white
}

.lesson-date {
  font-family: 'Oswald';
  color: white;
}

.description {
  font-family: 'Fredericka the Great';
  color: white;
}

.form-label {
  font-family: 'oswald' !important;
  color: white;
  font-size: 20px;
}

a.user-followers {
  color: white !important;
  text-decoration: none !important;
}
a.user-followers:hover {
  color: rgb(226, 218, 218) !important;
  text-decoration: none !important;
}

h1{
  font-family: 'Fredericka the Great' !important;
  color: white;
}

.table-users {
  color: white;
}

.user-name-profile {
  color: black;
  padding-top: 50px;
}

h2{
  font-family: 'Fredericka the Great' !important;
}

p{
  font-family: 'Oswald' !important;
}

h5 {
  font-family: 'Oswald' !important;
  color: white;
}

#lesson_end_date {
  font-family: 'Oswald' !important;
}

