// Import page-specific CSS files here.
@import "home";
@import "new";
@import "signup";
@import "my_profile";
@import "profiles-index";

body{
  font-family: 'Fredericka the Great', cursive;
  margin: 0;
  padding: 0;
  background-color: #4C6E86;
  height: 100%;
}
