@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredericka the Great', cursive;
}


.form-label {
  margin-bottom: 0.5rem;
  color: yellowgreen;
}


.container-img {
  display: flex;
  flex-direction: column
}

.flex-center {
  align-items: center;
  width: 70%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  // background-image: url(background-gatito.png)
  // align-items: center;
  // gap: 80px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-up {
  align-items: center;
  width: 158px;
  height: 48px;
  left: 647px;
  top: 404px;
  color: #ffffff;
  background: yellowgreen;
  border: 1px solid #96C2E1;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.devise-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 158px;
  height: 48px;
  left: 647px;
  top: 404px;
  color: #ffffff;
  background: #7BA4C1;
  border: 1px solid #96C2E1;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.devise-links a {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container-global h1{
  text-align: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.container-global {
  padding: 80px;
  padding-top: 80px;
}

.container-signup{
  width: 905px;
  height: 790px;
  // padding-left: 41px;
  // padding-top: 151px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  flex-direction: column;
}

.form-inputs h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 30px;
  color: #4C6E86;
}


//TYPEWRITER

.typewriter h1 {
  color: rgb(255, 255, 255);
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  font-size: 80px;
  line-height: 123px;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #8D99E4; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .2s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8D99E4 }
}
