
    <% if alert %>
      <div class="flash alert alert-warning alert-dismissible fade show m-1" role="alert">
        <button type="button" class="close me-2 p-1" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true"> X </span></button>
        <%= alert %>
      </div>
    <% end %>
