<body class='body-back'>
  <div class='typewritero title-welcome'>
    <h2> Welcome to</h2>
      <h1>your learning chain for the litle things.</h1>
  </div>

  <div class='container-all'>
    <div>
      <%= image_tag "the-oone.gif", class: "theone-image" %>
    </div>

        <div>
      <%= image_tag "arrow.gif", class: "arrow-image" %>
    </div>

    <div>
      <%= image_tag "the-twoo.gif", class: "thetwo-image" %>
    </div>
</body>
