.btn {
  color: white;
}

.fa-trash-alt::before {
  color: white;
  margin-left: 5px;
  text-decoration: none !important;
}

.fa-pen-square::before {
  color: white;
}


.fa-pencil:hover {
  color: rgb(76,110,134);
}

.btn-outline-light:hover {
  background-color: rgb(76,110,134);
  color: rgb(33,37,41);
  // border-color: rgb(76,110,134);
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(76,110,134);
}

.fa-video::before {
  color: white;
}

.fas:hover {
  color: black;
}
