.btn {
  color: white;
}

.fa-trash-alt::before {
  color: white;
  margin-left: 5px;
  text-decoration: none !important;
}

.fa-trash-alt:hover::before{
  color: rgb(126,193,209);
}

.fa-pen-square::before {
  color: white;
}

.fa-pen-square:hover::before {
  color: rgb(126,193,209);
}

.fa-pencil:hover {
  color: rgb(76,110,134);
}

.btn-outline-light {
  color: rgb(141,153,228);
  border-color: rgb(141,153,228);
  font-family: 'Oswald';
  font-weight: 20px;
}

.btn-outline-light:hover {
  background-color: rgb(141,153,228);
  color: white;
  // border-color: rgb(76,110,134);
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(76,110,134);
}

.fa-video::before {
  color: white;
}

.leaveRoom {
  z-index: 5000;
}


.fa-video::before {
  color: white;
}

// .fa-video:hover::before {
//   color: rgb(126,193,209);
// }

.enter-room {
  color: white;
}



 .btn-room {
   border: 1px solid;
   padding: 5px;
   border-color: white;
   border-radius: 3px;
   margin-top: 10px;

  }

  .btn-room:hover {
    background-color: rgb(126,193,209);
  }

  .fa-magnifying-glass::before {
    color: white;

  }

  .fa-magnifying-glass:hover::before {
    color: rgb(230, 230, 230)
  }
