// .navbar{
//   background: rgba(255, 255, 255, 0.1) !important;
// }


.navbar-lewagon {
  justify-content: space-between;
  height: 70px;
  // background: rgba(255, 255, 255, 0.1) !important;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .navbar-brand img {
  width: 50px;


}

.form-search{

  width: 25%;
  justify-content: center;
  margin-left: 557px;
}

.nav-item {
  margin: 5px;
  margin-left: 100px;
  margin: 20px;
  //justify-content:right;
}

#navbarDropdown{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid white;

}

.navbar-icone{
  position:absolute;
  right: 0;
  top: 0;
  display:flex;
  flex-direction: row;
}
