.navbar-dark .nav-item .nav-link {
  color: #d1dbdd;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: rgb(226, 12, 12);
}

.fa-li {
  position: relative;
  left: 0;
}
